[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.devnet]
pythia_op = "CQvzhuYp299gu8rDs4RyLg1cDgnbDZiEdK51NcnSVwGm"

[programs.localnet]
pythia_op = "CQvzhuYp299gu8rDs4RyLg1cDgnbDZiEdK51NcnSVwGm"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[test]
startup_wait = 5000
shutdown_wait = 2000
upgradeable = false

[[test.genesis]]
address = "BKck65TgoKRokMjQM3datB9oRwJ8rAj2jxPXvHXUvcL6"
program = "program/artifacts/arcium_program_0.3.0.so"

bind_address = "0.0.0.0"
ledger = ".anchor/test-ledger"
rpc_port = 8899

[test.validator]
[[test.genesis]]
address = "BKck65TgoKRokMjQM3datB9oRwJ8rAj2jxPXvHXUvcL6"
program = "/Users/soham/Documents/GitHub/pythia-opportunity-markets/artifacts/arcium_program_0.3.0.so"
